*.zip
*~
*__pycache__
*.DS_Store
inputs
outputs
dist
after_due_date
after_published
hidden
visible
starter_code
solution
*/autograder/tests/problems
*.aux
*.log
*.out
test_descriptions.txt
student_output.txt
